/*******
    P R O D U T O
    **********/

.pagina-produto {
  .zm-viewer {
    display: none !important;
  }
}

.produto {
  --borderRadiusContainerImage: 4rem;

  .tag-produto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
  }

  > .row-fluid:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    > .span6:first-child {
      margin-top: 4rem;
      border-radius: 0 0 0 2rem;

      width: 100vw;
    }

    > .span6:last-child {
      width: 100vw;
      padding: 1rem;
      background: var(--B9-Cor--Branco);
      border-radius: 2rem;
      max-width: 1140px;
      margin: 2rem auto 4rem auto;

      box-shadow: 0 1.5rem 3rem 0.1rem rgba(0, 0, 0, 0.1);

      @include media-breakpoint-up(lg) {
        padding: 2rem;
        z-index: 8888;
        margin-top: 2rem;
      }

      @include media-breakpoint-between(md, md) {
        border-radius: 0 2rem 2rem 0;
      }

      .principal {
        display: flex;
        flex-wrap: wrap;

        @at-root .info-principal-produto {
          display: flex;
          justify-content: space-between;
          flex: 1 1 100%;
          flex-wrap: wrap;
          margin-bottom: 0.5rem;
          background: var(--B9-Cor--Branco);
          // position: sticky;
          top: 0;
          padding: 1rem 0 0.25rem;
          border-bottom: 1px solid var(--B9-Cor--Light);
          z-index: 9;

          transition: 0.3s ease-in-out all;

          @include media-breakpoint-down(md) {
            box-shadow: 0 2rem 3rem -2.5rem rgb(0 0 0 / 50%);
          }

          @include media-breakpoint-down(sm) {
            margin: 0.5rem 0 0;
            padding-top: 0.5rem;
          }

          .nome-produto {
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 400;
            order: 0;
            color: var(--B9-Cor--Texto);
            transition: 0.3s ease-in-out all;
            width: 100%;
            flex: 1 1 100%;
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 0.75rem;

            @include media-breakpoint-up(lg) {
            }

            @include media-breakpoint-down(md) {
              margin-bottom: 1rem;
              font-size: 1.25rem;
            }

            @include media-breakpoint-between(md, md) {
              font-size: 1.25rem;
              margin-bottom: 0.5rem;
            }

            @include media-breakpoint-down(sm) {
              padding: 1rem;
              margin-bottom: 0;

              z-index: 1;
              border-radius: 0 0 2rem 2rem;
            }
          }

          .breadcrumbs,
          .codigo-produto {
            position: relative;
            z-index: 2;
          }

          .breadcrumbs {
            margin: 0 0 0.25rem;
            order: 1;

            @include media-breakpoint-down(md) {
              padding-left: 0.5rem;
            }

            ul {
              li {
                &:first-child {
                  display: none;
                }

                &:after {
                  content: ">";
                  margin: 0 5px 0 2px;
                  vertical-align: middle;
                  font-size: 0.5rem;
                }

                &:last-child {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }

          .codigo-produto {
            display: inline-flex;
            align-items: center;
            padding: 0;
            margin: 0;
            order: 2;
            border: none;

            > span {
              font-weight: 400;

              * {
                font-weight: 400;
              }

              + span {
                margin-top: 0;
                margin-left: 0.25rem;
              }
            }

            @include media-breakpoint-down(md) {
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  @at-root .atributos {
    padding-bottom: 0 !important;
    flex: 1 1 50%;
    border-right: 1px solid #ddd !important;

    @include media-breakpoint-down(md) {
      margin: 0 !important;
      border: none !important;
    }

    // .atributo-cor {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   justify-content: center;
    //   padding: 0.5rem;
    // }

    .atributo-cor {
      .atributo-item {
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        box-shadow: 0.25rem 0.25rem 1rem -0.5rem rgb(0 0 0 / 55%);
        border: 2px solid transparent;
        transition: 0.3s ease-in-out all;
        width: 48px;
        height: 48px;

        span {
          border-width: 0 0 3rem 3rem;
        }
      }

      .active {
        .atributo-item {
          border: 2px solid var(--B9-Cor--Primaria);
          box-shadow: 0rem 0rem 1rem -0.25rem rgba(255, 237, 72, 1);
        }
      }
    }

    .atributo-comum,
    .atributo-cor {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      // Teste novo
      flex-direction: column;
      align-items: flex-start;

      .wrapper-dropdown {
        border-radius: 1rem;
        width: calc(100% - 1rem);

        @include media-breakpoint-down(md) {
          margin: 0 auto;
        }
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 0;

        & + .atributo-comum {
          margin-top: 1rem;
          padding-top: 1rem;
          border-top: 1px solid #ddd;
        }
      }

      .filtro-coluna & {
        justify-content: flex-start;
        padding: 0;
      }

      > span {
        text-align: right;
        font-size: 0.875rem;
        // Teste
        text-align: left;
        width: 100%;

        @include media-breakpoint-down(md) {
          text-align: center;
        }

        @include media-breakpoint-down(md) {
          margin-bottom: 0.25rem;
        }

        @include media-breakpoint-up(lg) {
          // padding-right: 0.5rem;
          width: 32%;
          // Teste
          padding-bottom: 0.5rem;
          width: 100%;
        }
      }

      ul {
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;
        margin: 0;
        width: 100%;

        @include media-breakpoint-down(md) {
          justify-content: center;
        }

        li {
          float: none;
          background-color: transparent;
          margin-right: 0.625rem;
          margin-bottom: 0.625rem;

          a {
            margin: 0;
            position: relative;
            background: var(--B9-Produto__Variacoes__Fundo);
            background-size: contain;
            border-radius: var(--B9-Produto__Variacoes__BorderRadius);
            border: none;
            box-shadow: none;

            transition: 0.2s ease background;

            span {
              transition: 0.2s ease color;
              font-size: 0.875rem;
              padding: 0.25em 0.75rem;
              color: var(--B9-Produto__Variacoes__Texto_Cor);
            }

            &.atributo-item {
              &.indisponivel {
                opacity: 0.5;

                span {
                  opacity: 0.5;
                }
              }
            }

            &:hover {
              span {
                color: var(--B9-Cor--Primaria);
              }
            }
          }
          &.active,
          &:hover {
            background-color: transparent;
            a {
              background: var(--B9-Produto__Variacoes__Fundo_Ativo);
              background-size: contain;

              span {
                color: var(--B9-Produto__Variacoes__Texto_Cor_Ativo);
              }
            }
          }
        }
      }
    }
  }

  .acoes-produto {
    padding: 0;
    margin: 0.5rem 0;
    flex: 1 1 50%;
    background-color: var(--B9-Cor--White);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    }

    .preco-produto {
      float: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: solid rgba(var(--B9-Cor--Cinza), 0.8);
      border-width: 1px 0;
      padding: 1rem 0;
      margin: 0 0 0.5rem;
      padding: 1rem;

      @include media-breakpoint-between(md, md) {
        padding: 0.5rem 0;
      }

      > div {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      &.destaque-parcela {
        font-size: 1rem;

        > div {
          margin-bottom: 0;
          text-align: center;
        }

        .titulo {
          font-size: 1rem;
        }

        .preco-parcela,
        .preco-parcela .cor-principal {
          color: var(--B9-Cor--Texto);
        }

        .preco-venda {
          font-size: 1rem;
          color: rgba(var(--B9-Cor--Escuro), 0.5);
          opacity: 0.5;
        }
        .preco-promocional {
          display: inline-flex;
          margin: 0 0.25rem;
          font-size: 1.25rem;
          font-weight: 800;
          color: var(--B9-Cor--Texto);
        }
      }
    }

    .comprar {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-flow: wrap;

      @include media-breakpoint-down(md) {
        padding: 0 1rem;
      }

      .qtde-adicionar-carrinho {
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }

        .qtde-carrinho-title {
          padding: 0 1rem;
          line-height: 3rem;
          transition: 0.2s ease all;
        }

        &:focus-within {
          .qtde-carrinho-title {
            color: var(--B9-Cor--Primaria);
          }
        }

        .qtde-carrinho {
          width: 100%;
          height: 3rem;
          border-radius: 2rem;
          border: 1px solid var(--B9-Cor--Cinza);
          box-shadow: none;
          padding: 0 1rem;
          transition: 0.2s ease all;

          &:focus {
            border-color: var(--B9-Cor--Primaria);
          }
        }
      }

      .botao {
        padding: 0 2rem;
        height: 3rem;
        font-size: 1.25rem;

        @include media-breakpoint-down(md) {
          line-height: 2.5rem;
          font-size: 1.25rem;
          padding: 0 1rem;
        }

        &:hover {
          background-image: none;
          opacity: 0.95;
        }

        &.desativo {
          opacity: 1;
          background: var(--B9-Cor--Sucesso);
          filter: opacity(0.65) saturate(0.5);
        }
      }

      .popover {
        width: 150px;
        font-size: 0.875rem;
        border: none;
        padding: 0;

        .popover-title {
          background-color: var(--B9-Cor--Primaria);
          color: var(--B9-Cor--Branco);
          font-weight: 700;
        }

        .popover-content {
          color: var(--B9-Cor--Texto);
          font-weight: 600;
        }
      }
    }

    .disponibilidade-produto {
      padding-top: 0.5rem;
      width: 100%;
    }
  }

  .cep {
    // box-shadow: 24px 14px 48px #f0f0f0, -24px -23px 48px #ffffff;
    // border-radius: 2rem;
    border-top: 1px solid #ddd !important;
    flex: 1 1 100%;
    margin-top: 1rem;
    padding: 1rem 0 0;

    @include media-breakpoint-down(md) {
      padding: 0 1rem !important;
      margin-bottom: 0;
      border: none !important;
    }

    form {
      display: flex;
      align-items: center;

      @include media-breakpoint-up(lg) {
        align-items: flex-start;
        flex-direction: column;
      }

      label {
        font-size: 1rem;
        color: var(--B9-Cor--Texto);
        margin-bottom: 0;
      }

      .form-inline {
        flex: 1;

        > div {
          &.input-append.input-prepend {
            flex: 1;
            display: flex;

            input {
              width: 100%;
              height: 3rem;
              border-radius: 2rem 0 0 2rem;
              border: 1px solid var(--B9-Cor--Cinza);
              box-shadow: none;
              padding: 0 1rem;

              @include media-breakpoint-between(md, md) {
                height: 2rem;
              }

              transition: 0.2s ease all;

              &:focus {
                border-color: var(--B9-Cor--Primaria);
              }
            }
            button {
              border-radius: 0 2rem 2rem 0;
              border: none;
              background: var(--B9-Cor--Primaria);
              text-shadow: none;
              color: var(--B9-Cor--Branco);
              font-weight: 700;

              padding: 0 1rem;
            }
          }
        }
      }
    }

    > ul {
      border: none;

      &:not(.hide) {
        display: inline-flex;
      }
      flex-direction: column;

      li {
        white-space: nowrap;
      }
    }

    li {
      @include media-breakpoint-between(md, md) {
        margin-bottom: 5px;
        padding-bottom: 5px;
      }

      @include media-breakpoint-up(lg) {
        .error {
          max-width: 22vw;
          white-space: initial;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .aviso-disponibilidade {
      max-width: 22vw;
    }
  }

  @media (min-width: 992px) {
    .cep > ul {
      flex-direction: column;
      &:not(.hide) {
        display: inline-flex;
      }
    }
  }

  .conteiner-imagem {
    position: relative;
    height: auto;
    background-color: var(--B9-Cor--OffWhite);
    max-width: 98vw;
    margin: 0 auto;
    border-radius: 4rem;
    box-shadow: var(--B9-Produto__Container_BoxShadow);

    @include media-breakpoint-up(md) {
      max-height: var(--B9-Produto__Container_MaxHeight);
    }

    // @include media-breakpoint-between(md, md) {
    //   padding-left: 40vw;
    //   left: -40vw;
    //   width: 100vw;
    // }

    > div {
      z-index: 1;
      border: none;
      margin: 0;
    }

    img {
      height: 100%;
      max-height: 70vh;
      object-fit: contain;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      @include media-breakpoint-up(md) {
        width: 60vw;
        max-height: 75vh;
        min-height: 500px;
      }

      @include media-breakpoint-up(lg) {
        max-width: 70vw;
        width: auto;
        min-width: 600px;
        min-height: 500px;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      content: "";
      border-radius: var(--borderRadiusContainerImage)
        var(--borderRadiusContainerImage) 0 0;
    }

    &::before {
      background: var(--B9-Produto__Padrao__Fundo) fixed
        var(--B9-Produto__Padrao__URL) !important;
      background-size: var(--B9-Produto__Padrao__Fundo_Tamanho) !important;
    }
    &::after {
      background: var(--B9-Produto__Padrao__Sobreposicao_Cor);
      opacity: var(--B9-Produto__Padrao__Sobreposicao_Opacidade);
    }
  }

  .produto-thumbs {
    position: relative;
    width: 100%;
    max-width: 98vw;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 0 auto;

    @include media-breakpoint-between(md, md) {
      left: -40vw;
      width: 100vw;
      justify-content: flex-end;
    }

    @include media-breakpoint-up(md) {
      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 4rem;
        content: "";
        border-radius: 0 0 var(--borderRadiusContainerImage)
          var(--borderRadiusContainerImage);

        @include media-breakpoint-up(md) {
          border-radius: 0 0 var(--borderRadiusContainerImage)
            var(--borderRadiusContainerImage);
        }
      }

      &::before {
        background: var(--B9-Produto__Padrao__Fundo) fixed
          var(--B9-Produto__Padrao__URL) !important;
        background-size: var(--B9-Produto__Padrao__Fundo_Tamanho) !important;
      }

      &::after {
        background: var(--B9-Produto__Padrao__Sobreposicao_Cor);
        opacity: var(--B9-Produto__Padrao__Sobreposicao_Opacidade);
      }
    }

    #carouselImagem {
      margin: 0;
      position: relative;
      z-index: 1;
      width: 100%;

      .elastislide-carousel {
        margin: 0;

        @include media-breakpoint-down(sm) {
          overflow-x: scroll !important;
          padding: 0 1rem;

          @include removeScrollbar;
        }

        @include media-breakpoint-up(md) {
          margin: 0 1rem;
        }

        ul {
          margin: 0 auto;
          justify-content: center;

          @include media-breakpoint-down(sm) {
            width: max-content !important;
            transform: max-content !important;
            padding: 0 1rem;
          }

          @include media-breakpoint-up(md) {
            display: flex;
            flex-flow: wrap;
            max-width: 100vw;
          }

          @include media-breakpoint-up(lg) {
            max-width: 80%;
          }

          li {
            width: 6rem !important;
            max-width: 12.5vh;
            margin: 0 1rem 0 0;

            @include media-breakpoint-up(md) {
              margin: 0 0.5rem;
            }

            @include media-breakpoint-between(md, md) {
              width: 4rem !important;
            }

            a {
              margin: 0;
              padding: 0;
              border-radius: 50%;
              width: 6rem;
              height: 6rem;
              max-width: 12.5vh;
              max-height: 12.5vh;

              @include media-breakpoint-between(md, md) {
                width: 4rem;
                height: 4rem;
              }

              span {
                max-width: 100%;
                max-height: 100%;

                img {
                  margin: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }

      .flex-direction-nav {
        display: none;
      }
    }
  }

  .produto-compartilhar {
    @include media-breakpoint-between(md, md) {
      left: -40vw;
      width: 100vw;
      justify-content: flex-end;
      position: relative;
    }

    .lista-redes {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          border: none;
          margin: 0 0.25rem;

          i {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 0.5rem;
          }

          a {
            border-radius: 0.5rem;

            &.adicionar-favorito {
              i {
                width: 1rem;
              }
            }
          }

          &.fb-compartilhar {
            margin: 0;
            background: rgb(24, 119, 242);
            border-radius: 0.5rem;
            height: 2rem;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .abas-custom {
    .tab-content {
      padding: 0;
      box-shadow: none;
    }
  }

  body:not(.descriptionLandingPage__B9L) & {
    > .row-fluid:nth-child(3) {
      max-width: 1140px;
      margin: 3rem auto 0;
    }

    .abas-custom {
      .tab-content {
        padding: 1rem;
        box-shadow: none;
      }
    }

    @include media-breakpoint-up(md) {
      .row-fluid:nth-child(2) {
        position: relative;

        &:before,
        &:after {
          content: "";
          height: 80%;
          width: 100vw;
          position: absolute;
          top: 10%;
          z-index: 0;
          background-color: var(--B9-Cor--Primaria);
          opacity: 0.8;
        }

        &:before {
          opacity: 1;
          background: var(--B9-Rodape__Padrao__URL) fixed
            var(--B9-Rodape__Padrao__Fundo) !important;
          background-size: var(--B9-Rodape__Padrao__Fundo_Tamanho) !important;
        }

        > .span12 {
          width: 800px;
          @include media-breakpoint-up(sm) {
            max-width: 90vw;
          }
          margin: 0 auto;
          float: none;
          z-index: 1;
          position: relative;
        }

        .abas-custom {
          .tab-content {
            box-shadow: 0rem 3rem 16rem -3.5rem rgba(0, 0, 0, 0.1);
            background-color: var(--B9-Cor--Branco);
            padding: 2rem;
            border-radius: 2rem;

            .sizesTable {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .aproveite-tambem {
    @include media-breakpoint-up(md) {
      margin: 4rem 0;
    }
  }

  h4.titulo {
    border: none;
    font-size: 2.5rem;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 2;

    font-weight: 300;
    color: var(--B9-Cor--Texto);

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      font-size: 1.75rem;
      font-weight: 500;
      padding-bottom: 0;
    }

    @include iconTitle;
  }

  .acoes-flutuante {
    border-radius: 1rem 0px 0px 2rem;
    box-shadow: -45px 80px 3rem -20px rgba(0, 0, 0, 0.1);

    .close_float {
      border-radius: 1rem 0 0 1rem;
    }
  }

  .parcelas-produto {
    padding: 0;

    display: none !important;
    // Saaaaaaaaaaia maldito!

    .accordion {
      border-radius: 0.5rem;

      .accordion-group .accordion-body .accordion-inner ul {
        display: flex;
        width: 100%;

        li {
          width: 50%;
        }
      }
    }
  }
}

#descricao {
  padding-top: 1rem;

  p {
    &:hover {
      color: var(--black);
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--B9-Cor--Texto);

    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }

    @include iconTitle;

    padding: 0.5rem 0;
  }

  ul {
    margin-left: 0;
    li {
      list-style: none;
      padding-left: 1.5rem !important;
      margin: 0.5rem 0 !important;
      position: relative;

      &::before {
        background: var(--B9-ElementoApoio__Cinza) no-repeat center center;
        background-size: contain;
        height: 1rem;
        width: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
      }
    }
  }
}

// Sizes tables
.sizesTableWrap {
  width: 100%;
  max-width: 100vw;

  @include media-breakpoint-down(md) {
    margin: 1rem -1rem 0;
    width: 100vw;

    #descricao & {
      h2 {
        padding: 0 1rem;
      }
    }
  }

  .sizesTable {
    width: auto;
    max-width: 100%;
    margin: 1rem 0 3rem;
    display: block;

    overflow-x: auto;

    @include removeScrollbar;

    @include media-breakpoint-down(md) {
      padding-left: 1rem;
      margin-bottom: 1rem;
    }

    th,
    tr,
    td {
      padding: 0;
      border: none;
    }

    tr {
      border-bottom: 1px solid var(--B9-Cor--Cinza);
      display: flex;

      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }
    }

    td {
      padding: 0.5rem;
      font-weight: 500;

      display: inline-flex;
      width: 6rem;
      height: 3rem;
      align-items: center;

      &.title {
        font-weight: 800;
      }

      &:not(.title) {
        text-align: center;
      }
    }

    caption {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--B9-Cor--Texto);

      @include iconTitle;

      padding: 0.5rem 0;
    }

    thead {
      td {
        background: var(--B9-Cor--Primaria);
        color: var(--B9-Cor--Branco);

        &:first-child {
          border-radius: 0.5rem 0 0 0;
        }

        &:last-child {
          border-radius: 0 0.5rem 0 0;
        }
      }
    }

    tbody {
      tr {
        position: relative;

        transition: 0.3s ease-in-out all;

        &:hover {
          border-bottom-color: var(--B9-Cor--Primaria);

          td {
            color: var(--B9-Cor--Texto);
          }
        }
      }
      td {
        color: var(--B9-Cor--Escuro);

        &.title {
          background-color: rgba(var(--B9-Cor--Cinza), 0.5);
        }
      }
    }

    @include media-breakpoint-up(md) {
      thead,
      tbody {
        display: flex;
        flex-direction: column;
      }

      tr {
        min-width: 100%;
      }

      td {
        flex: 1;
      }
    }
  }
}
