.bandeiras-produto {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;

  span {
    border: none;
    box-shadow: none;
    padding: 0.125rem 0.5rem;
    text-transform: none;
    font-weight: 500;
    text-transform: lowercase;
    border-radius: 0.25rem;

    @include media-breakpoint-up(md) {
      font-size: 0.75rem;
    }
  }
}

.listagem .bandeiras-produto .bandeira-carrinho {
  background-color: var(--B9-Listagem--Tag__Fundo-Padrao);
}

.listagem .bandeiras-produto .bandeira-promocao {
  background-color: var(--B9-Listagem--Tag__Fundo-Promocao);
}

.listagem .bandeiras-produto .bandeira-carrinho {
  background-color: var(--B9-Listagem--Tag__Fundo-Adicionado);
}

.listagem .bandeiras-produto .bandeira-frete-gratis {
  background-color: var(--B9-Listagem--Tag__Fundo-FreteGratis);
}
