#cabecalho {
  --headerHeight: var(--B9-Cabecalho__Altura_PaginasInternas);

  body.pagina-inicial & {
    --headerHeight: var(--B9-Cabecalho__Altura);
  }

  background: var(--B9-Cabecalho__Fundo);
  background-size: var(--B9-Cabecalho__Fundo_Size);
  min-height: var(--headerHeight);

  @include media-breakpoint-down(sm) {
    padding-top: 3.125rem;
    background: var(--B9-Cabecalho__Fundo_Mobile);
    background-size: var(--B9-Cabecalho__Fundo_Size_Mobile);
  }

  .conteiner {
    max-width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;

    .bem-vindo {
      color: var(--B9-Cabecalho__Benvindo__Texto);
      font-weight: 400;
      font-size: 14px;

      span {
        color: var(--B9-Cabecalho__Benvindo__Link);
        text-decoration: underline;
      }
    }

    @include media-breakpoint-up(md) {
      > .row-fluid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .menu.superior {
        display: var(--B9-MenuPrincipal__Display);
        background-color: var(--B9-MenuPrincipal__Fundo);
        border-radius: 0.5rem;
        z-index: 8888;
        position: relative;

        transition: 0.5s ease-in-out all;

        &:hover,
        &:focus-within {
          background-color: var(--B9-MenuPrincipal__Fundo_Hover);
          li {
            &.com-filho {
              > a {
                i {
                  background-color: var(
                    --B9-MenuPrincipal__Fundo_Hover
                  ) !important;
                }
              }
            }
          }
        }

        .categoria-marcas,
        .categoria-paginas {
          background-color: transparent;
        }

        .titulo {
          font-size: 14px;
          font-weight: 600;
          color: var(--B9-MenuPrincipal__Texto);
        }

        .nivel-um {
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          > li {
            border: none;
            background: transparent;

            &.com-filho {
              > a {
                i {
                  display: inline-block;
                  background-color: var(--B9-MenuPrincipal__Fundo);
                  border-radius: 50%;
                  color: var(--B9-MenuPrincipal__Seta);
                  height: 1rem;
                  width: 1rem;
                  margin-left: 0;
                }
              }
            }

            &:hover {
              border: 0;
              margin-top: 0;

              .titulo {
                font-size: 14px;
                font-weight: 600;
                color: var(--B9-MenuPrincipal__TextoHover);
              }
            }
          }

          .nivel-dois {
            border-radius: 0 0 1rem 1rem;
            box-shadow: 0.75rem 0.75rem 2rem -1rem rgb(66 66 66 / 75%);
            background-color: var(--B9-MenuPrincipal__Submenu__Fundo);
            border: 1px solid var(--B9-MenuPrincipal__Submenu__Borda);

            a {
              color: var(--B9-MenuPrincipal__Submenu__Texto);
              font-size: 14px;
              font-weight: normal;

              &:hover {
                color: var(--B9-MenuPrincipal__Submenu__TextoHover);
              }

              i {
                background-color: var(--B9-MenuPrincipal__Fundo);
                background: transparent;
                border-radius: 50%;
                color: var(--B9-MenuPrincipal__Seta);
                height: 1rem;
                width: 1rem;
                margin-left: 0;
              }
            }

            .nivel-tres {
              border-radius: 0 1rem 1rem 1rem;
              box-shadow: 0.75rem 0.75rem 2rem -1rem rgb(66 66 66 / 75%);
              background-color: var(--B9-MenuPrincipal__Submenu3__Fundo);
              border: 1px solid var(--B9-MenuPrincipal__Submenu3__Borda);

              li {
                &:hover {
                  color: var(--B9-MenuPrincipal__Submenu3__TextoHover);
                  background-color: transparent;
                }

                a {
                  color: var(--B9-MenuPrincipal__Submenu3__Texto);
                  font-size: 14px;
                  font-weight: normal;

                  &:hover {
                    color: var(--B9-MenuPrincipal__Submenu3__TextoHover);
                    background-color: transparent;
                  }

                  i {
                    display: inline-block;
                    background-color: var(--B9-MenuPrincipal__Fundo);
                    border-radius: 50%;
                    color: var(--B9-MenuPrincipal__Seta);
                    height: 1rem;
                    width: 1rem;
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      > .row-fluid {
        > .span3 {
          // order: 2;
          width: 100%;
        }

        > .span9 {
          order: 1;
          width: 100%;
          margin: 0;
          padding: 0 1rem;
        }

        .logo {
          margin: 1rem 0;

          a {
            max-width: 60vw;
            width: 320px;
            margin: 0 auto;
          }

          body.pagina-produto & {
            margin: 1rem 0;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      > .row-fluid {
        > .span9 {
          padding: 0;
        }
      }

      .busca-mobile {
        padding: 0;
        background-color: transparent;
        padding: 1rem;

        // [começo] Organizando a nojeira da Loja Integrada de misturar os filtros da categoria com a busca do header

        display: flex;
        flex-wrap: wrap;

        .atalho-menu {
          height: 42px;
          width: 42px;
          border-radius: 50%;
          border: none;
          padding: 0;

          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.125rem;

          background-color: var(--B9-MenuMobile__Botao_Fundo);
          color: var(--B9-MenuMobile__Botao_Texto);

          svg {
            width: 1.125rem;
            height: 1.125rem;
          }

          &:before {
            content: "";
          }
        }

        .menu {
          flex: 1 1 100%;
          margin-bottom: 0.25rem;
          background: transparent;

          &.superior {
            .nivel-um {
              &.active {
                background-color: var(--B9-MenuMobile__Fundo);
                border: 1px solid var(--B9-MenuMobile__Borda);
                color: var(--B9-MenuMobile__Texto) !important;
                border-radius: 1rem;
                margin-top: 1rem;
                max-height: 100vh;

                > li {
                  border: none;
                  background: transparent;

                  a {
                    font-size: 0.875rem;
                    color: var(--B9-MenuMobile__Texto) !important;

                    strong {
                      font-size: 0.875rem;
                      color: var(--B9-MenuMobile__Titulo) !important;
                      font-weight: bold;
                    }
                  }
                }
              }

              .nivel-dois {
                background-color: var(--B9-MenuMobile__Fundo_Nivel2);
                color: var(--B9-MenuMobile__Texto) !important;
                border-radius: 1rem;
                padding: 0.5rem 0;

                li {
                  a {
                    padding: 0.25rem 0.75rem;
                    line-height: 1.25;
                  }
                }
              }
            }
          }

          &.outras {
            border-radius: 0;
            box-shadow: none;
            margin: 0;
            max-width: 100vw;
            overflow-x: auto;
            @include removeScrollbar;

            & + .outras {
              margin-top: 1rem;
            }

            ul {
              border: none;
              flex-flow: row;
              padding: 0 0 0 0.5rem;
              width: fit-content;
              max-width: none;

              a {
                strong {
                  font-size: 0.875rem;
                }
              }
            }
          }
        }

        // [fim] Organizando a nojeira da Loja Integrada de misturar os filtros da categoria com a busca do header

        .busca {
          margin: 0 0 0 0.5rem;
          flex: 1;

          form {
            input,
            .botao-busca {
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 2rem 1rem;
    }
  }

  .acoes-conta {
    display: flex;
    justify-content: flex-end;

    & > li {
      display: inline-flex;
      align-items: center;

      a {
        color: var(--B9-Cabecalho__Texto);
        font-weight: 400;
        font-size: 13px;
      }

      i {
        color: var(--B9-Cabecalho__Texto);
        background: transparent;
        margin-right: 0.125rem;
        font-size: 12px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .atalhos-mobile {
      overflow: hidden;
      border: 0;
      background-size: cover;
      -webkit-backdrop-filter: saturate(180%) blur(5px);
      backdrop-filter: saturate(180%) blur(5px);
      transition: 0.3s ease-in-out all;

      border-radius: var(--B9-BarraMobile__BorderRadius);
      margin: var(--B9-BarraMobile__Margin);
      padding: var(--B9-BarraMobile__Padding);
      border-bottom: var(--B9-BarraMobile__BorderBottom);
      background: var(--B9-BarraMobile__Fundo) !important;

      li {
        border: none;
        background-color: transparent !important;

        * {
          color: var(--B9-BarraMobile__Texto) !important;
        }
      }

      body.scroll-down & {
        top: -51px;
      }

      .icon-home,
      .icon-user,
      .icon-shopping-cart {
        svg {
          color: var(--B9-BarraMobile__Texto) !important;
        }
        &:before {
          content: "";
        }
      }
    }
  }

  .conteudo-topo {
    .superior {
      padding: 0;
      z-index: 8889;
      @include media-breakpoint-down(md) {
        padding: 0 0 1rem;
      }
    }
    .inferior {
      display: flex;
      align-items: center;
    }
  }

  // pegando o botão perdido

  .btn-group {
    position: relative;
    z-index: 9999;

    .botao.secundario.pequeno.dropdown-toggle {
      background-color: var(--B9-Cabecalho__Dropdown_Profile_BG);
      color: var(--B9-Cabecalho__Dropdown_Profile_Text);
      border-radius: var(--B9-Cabecalho__Dropdown_Profile_BorderRadius);
      box-shadow: none !important;
      position: relative;
      z-index: 2;

      span {
        margin-left: 0.5rem;
      }
    }

    .dropdown-menu {
      width: 100%;
      padding: 0;
      top: 0rem;
      z-index: 1;
      border: var(--B9-Cabecalho__Dropdown_Profile_BorderSize) solid
        transparent;
      border-radius: var(--B9-Cabecalho__Dropdown_Profile_BorderRadius);
      background: transparent;

      display: block;
      max-height: 0;
      transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
      overflow: hidden;

      box-shadow: none !important;

      > li {
        > a {
          color: var(--B9-Cabecalho__Dropdown_Profile_TextInner);
          font-weight: 700;
        }
      }
    }

    &.open {
      .dropdown-menu {
        background: var(--B9-Cabecalho__Dropdown_Profile_BGInner);
        max-height: 10rem;
        padding: 2rem 0 0;
        border: var(--B9-Cabecalho__Dropdown_Profile_BorderSize)
          var(--B9-Cabecalho__Dropdown_Profile_Border);
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
      }
    }
  }

  .logo {
    padding: 1rem;
    a {
      max-width: 240px;
      height: var(--B9-Cabecalho__Logo_Altura);
    }
  }
}
